body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: #3a241d;
    text-align: center;
}

#contenedor-izquierdo {
	left: 0px;
	
}

#contenedor-derecho {
	right: 0px;
}


.contenedor {
	background-color: #eee;
	width: 15%;
	height: 100%;
	top: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	padding: 10px;
	z-index: -1;	
}

.contenedor-componente {
	position: relative;
	height: 10.5%;
	left: 20%;
	
}

.componente {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}

.cielo {
	height: 80%;
	width: 60%;
	background:#BDE6F1;
	border-radius: 1rem;
	position: absolute; 
	bottom: 0.5%;
	left: 20%;
	/*opacity: 0.5; */
	z-index: -2;
	margin: 25vh auto 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  	flex-direction: raw;
	 
}

.cielo_componente {

	flex: 1 1 30px;
	
}

.componente_cielo {
	position: absolute;
	height: 150;
	width: 150px;
	/*display: grid;
  	gap: 1em; */
	z-index: 2;
	/*grid-column: span 1; */
	
}



.suelo {
	width: 60%;
	height: 45%;
	margin: 33vh auto 0;
	background: #C9E4C5;
	border-radius: 1rem;
	position: absolute; 
	bottom: 0.5%;
	left: 20%;
	/*opacity: 0.5; */
	z-index: -2;
	margin: 25vh auto 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
  	flex-direction: raw;
}

.suelo-componente {

	flex: 1 1 25px;
}

.componente-suelo {
	position: absolute;
	height: 120;
	width: 120px;
	/*display: grid;
  	gap: 1em; */
	z-index: 2;
	opacity: 1;
	/*grid-column: span 1; */
	
}